body {
  background-image: url(https://i.pinimg.com/1200x/c5/1f/a9/c51fa952b6040cbe842740789ac108d7.jpg);
  background-color: #719beb;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.topSection, .bottomSection {
  font-family: 'Press Start 2P', cursive;
  max-width: 700px;
}

.top-text, .bttm-text {
  max-width: 950px;
  margin-left: 30px;
}


ul {
  display: flex;
  flex-direction: column;
}

.top-text li {
  background-color: lightblue;
  list-style-type: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
}

.bttm-text li {
  background-color: lightblue;
  list-style-type: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  padding: 10px 10px 10px 10px;
}


/* modal */

.openModal {
  font-family: 'Press Start 2P', cursive;
  background-color: lightblue;
  border-radius: 15%;

}

.modal {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
}

.modalImg {
  object-position: center;
  object-fit: fill;
}


/* footer style */
.footer{
  background-color: lightblue;
  height: 60px;
  margin-top: auto;
}

nav {
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  margin: 0;
  text-align: center;
}
ul {
  list-style-type: none;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

a:link {
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  color: red;
}
