body {
  background-image: url(https://img.craftpix.net/2020/02/Simple-Platformer-Tileset-Pixel-Art4.jpg);
  background-color: #719beb;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

/* CAROUSEL */
.resume {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex: 1 0 auto;
}


.exp, .skill, .edc {
  background-color: lightblue;
}


h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 28px;
  padding-top: 20px;
}

.exp li{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 15px;
  padding: 20px 15px 20px 15px;
}

.skill li{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 15px;
  padding: 20px 15px 20px 15px;
}

.edc li{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size: 15px;
  padding: 20px 15px 20px 15px;
}

.next-button {
	align-self: center;
	background: lightblue;
	color: black;
	padding: 10px;
  margin: 5px;
	border-radius: 80%;
	text-align: center;
  display: flex;
}

.back-button{
  align-self: center;
	background: lightblue;
	color: black;
	padding: 10px;
  margin: 5px;
	border-radius: 80%;
  text-align: center;
  display: flex;
}


/* full resume link style */

.full-resume {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
}


/* footer style */
.footer{
  background-color: lightblue;
  height: 60px;
  margin-top: auto;
}


nav {
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  margin: 0;
}
ul {
  list-style-type: none;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a:link {
  text-decoration: none;
}
a {
  color: black;
}

a:hover {
  color: red;
}
