
h1{
  text-align: center;
  font-size: 40px;
}

.header{
  padding-top: 70px;
  height: 80px;
  display: flex;
}





/* carousel style */
.carousel-container {
	width: 50%;
	display: flex;
	justify-content: space-evenly;

}
.images {
  width: 80%;
	background: #fa8d8e;
	padding: 10px;
  margin: 25px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px #f2cd99;
  flex-grow: 1;
}
.images img{
	width: 100%;
	border-radius: 10px;
	display: none;
}
.images img:first-of-type{
	display: block;
}
.next-button, .back-button {
	align-self: center;
	background: #f2cd99;
	color: #888;
	padding: 5px;
  margin: 5px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px #fa8d8e;
  flex-grow: 1;
}

/* footer style */
.footer{
  background-color: lightgrey;
  height: 60px;
  display: flex;
  flex-direction: row;
}

button {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  padding: 5px;
}
