body {
  background-image: url(https://img.craftpix.net/2020/02/Simple-Platformer-Tileset-Pixel-Art4.jpg);
  background-color: #719beb;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

/* CAROUSEL */
.resume {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex: 1 0 auto;
}



.skills-exp-edc {
  width: 500px;
  height: 600px;
	background: lightblue;
	padding: 10px;
  margin: 25px;
	border-radius: 5px;
  box-sizing: border-box;
  list-style-type: none;
  display: none;
}





.next-button {
	align-self: center;
	background: lightblue;
	color: black;
	padding: 5px;
  margin: 5px;
	border-radius: 80%;
	text-align: center;
  display: flex;
}

.back-button{
  align-self: center;
	background: lightblue;
	color: black;
	padding: 5px;
  margin: 5px;
	border-radius: 80%;
  text-align: center;
  display: flex;
}





/* footer style */
.footer{
  background-color: lightblue;
  height: 60px;
  margin-top: auto;
}


nav {
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  margin: 0;
}
ul {
  list-style-type: none;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a:link {
  text-decoration: none;
}
a {
  color: black;
}
