body {
  background-image: url(https://i.pinimg.com/736x/1e/72/e1/1e72e177da44eac61f206607a320d927.jpg);
  background-color: #719beb;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

.projects {
  text-align: center;
}

/* footer style */
.footer{
  background-color: lightblue;
  height: 60px;
  margin-top: auto;
}

nav {
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  margin: 0;
  text-align: center;
}
ul {
  list-style-type: none;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

a:link {
  text-decoration: none;
}
a {
  color: black;
}
