body {
  background-image: url(https://i.pinimg.com/1200x/c5/1f/a9/c51fa952b6040cbe842740789ac108d7.jpg);
  background-color: #719beb;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

.topSection, .bottomSection {
  font-family: 'Press Start 2P', cursive;
}

.images img {
  object-fit: fill;
}



/* modal */
.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

.modalImg {
  display: none;
}

/* footer style */
.footer{
  background-color: lightblue;
  height: 60px;
  margin-top: auto;
}

nav {
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  margin: 0;
  text-align: center;
}
ul {
  list-style-type: none;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

a:link {
  text-decoration: none;
}
a {
  color: black;
}
