

/* footer style */
.footer{
  background-color: lightblue;
  height: 60px;
  margin: 0;
}

nav {
  font-family: 'Press Start 2P', cursive;
  width: 100%;
  margin: 0;
  text-align: center;
}
ul {
  list-style-type: none;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a:link {
  text-decoration: none;
}
a {
  color: black;
}
